<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <header>
        <h1>Movies List Module Example</h1>
    </header>
    <main>
        <div data-movies-list></div>
    </main>
    <footer>
        <h2>&copy 2017 mihalycz</h2>
    </footer>
</body>
</html>