<form>
    <div class="form-group search-form">
        <input ng-model="context.searchValue" type="text" class="form-control" placeholder="Enter the movie name" />
        <div class="movies-result" ng-show="selectedMovies.length">
            <div ng-repeat="movie in selectedMovies" ng-click="onMovieItemClick(movie, $index)" class="movie-item" ng-class="{ 'opened': movie.plot }">
                <div class="base-data">
                    <div class="image-column">
                        <img src="{{movie.poster || ''}}">
                    </div>
                    <div class="text-column">
                        <h1 class="title">{{movie.title}}</h1>
                        <h2 class="release">{{movie.released ? movie.released.format('DD/MM/YYYY') : movie.year}}</h2>
                    </div>
                </div>
                <div class="extended-data">
                    <h3>{{movie.runtime}}</h3>
                    <h3>{{movie.genre}}</h3>
                    <h3>{{movie.director}}</h3>
                    <h3>{{movie.writer}}</h3>
                    <h3>{{movie.actors}}</h3>
                    <h3>{{movie.language}}</h3>
                    <h3>{{movie.country}}</h3>
                    <h3>{{movie.awards}}</h3>
                    <h3>{{movie.imdbRating}}</h3>
                    <p>{{movie.plot}}</p>
                </div>
            </div>
        </div>
        <div ng-if="context.isLoading && !selectedMovies.length" class="loader">
            <div class="ajax-loader"></div>
        </div>
        <div ng-if="context.page <= context.pages" lazyload class="loader">
            <div class="ajax-loader"></div>
        </div>
    </div>
</form>

