@import "../../styles/main";

.search-form {
  .movies-result {
    .movie-item {
      margin: 2px;
      padding: 4px;
      clear: both;
      overflow: hidden;
      border: 1px solid #ccc;
      border-radius: 4px;
      cursor: zoom-in;
      &.opened {
        cursor: zoom-out;
      }
      .base-data {
        overflow: hidden;
        .image-column {
          float: left;
          width: 20%;
        }
        .text-column {
          float: right;
          width: 80%;
          .title {
            font-size: 32px;
          }
          .release {
            font-size: 16px;
          }
        }
      }
      .extended-data {
        clear: right;
      }
    }
  }
  .loader {
    width: 100%;
    text-align: center;
    margin-top: 5px;
  }
}




